<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fillmycart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PersonalListDetailsActivity"></activity>
        <activity android:name=".PersonalListDetalsActivity" />
        <activity android:name=".UsersDetailsActivity" />
        <activity android:name=".ProductsDetailsActivity" />
        <activity android:name=".FirebaseDatabaseHelperProducts" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".ProductList_Activity" />
        <activity android:name=".PendingDetailsActivity" />
        <activity android:name=".PendingList_Activity" />
        <activity android:name=".UserAddProduct" />
        <activity android:name=".CartListActivity" />
        <activity android:name=".CustomerActivity" />
        <activity android:name=".ProductsActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".MangerActionActivity" />
        <activity android:name=".test" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>